---
import FormattedDate from './FormattedDate.astro';
import TimeUntilExpiry from './TimeUntilExpiry.astro';
import { formatDays } from '../utils/timeUntil';

interface Props {
  pubDate: Date;
  updatedDate?: Date;
  expiryDate?: Date;
  predictedDays?: number;
  featured?: boolean; // for featured posts on homepage.
}

const { pubDate, updatedDate, expiryDate, predictedDays, featured = false } = Astro.props;
---

<div class:list={['date', { featured }]}>
  <span> Predicted on <FormattedDate date={pubDate} /></span>
  {
    predictedDays && (
      <span class="predicted-days-container">
        Estimate:
        <strong>{formatDays(predictedDays)}</strong>
      </span>
    )
  }
  {
    expiryDate && (
      <span class="expiry-container">
        <TimeUntilExpiry pubDate={pubDate} expiryDate={expiryDate} />
      </span>
    )
  }
  {
    updatedDate && (
      <span class="last-updated-on">
        Last updated on <FormattedDate date={updatedDate} />
      </span>
    )
  }
</div>

<style lang="scss">
  .date {
    margin: 1rem 0;
    line-height: 1.5;
    color: rgb(var(--gray));
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    span {
      &:nth-child(2) {
        border-left: 1px solid rgb(var(--gray));
        border-right: 1px solid rgb(var(--gray));
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }

    &:not(.featured) {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.25rem;

      span {
        border-left: none;
        border-right: none;
        padding-left: 0;
        padding-right: 0;
      }
    }

    @media (max-width: 1024px) {
      font-size: 1.1rem;
    }

    @media (max-width: 768px) {
      align-items: flex-start;
      justify-content: flex-start;
    }

    @media (max-width: 600px) {
      margin-bottom: 2rem;
      flex-direction: column;
      gap: 0.25rem;

      span {
        border-left: none !important;
        border-right: none !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
  }

  .predicted-days-container {
    color: rgb(var(--gray));
    font-style: italic;
  }

  .expiry-container {
    color: rgb(var(--gray));
  }

  .last-updated-on {
    font-style: italic;
  }
</style>
