---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
  description: string;
  author?: string;
  image?: string;
  datePublished?: Date;
  dateUpdated?: Date;
  ogType?: string;
}

const { title, description, author, image, datePublished, dateUpdated, ogType } = Astro.props;

// Load GTM ID from environment variable
const gtmId = import.meta.env.PUBLIC_GTM_ID;

// GTM initialization script
const gtmScript = `
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','${gtmId}');`;
---

<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      author={author}
      image={image}
      datePublished={datePublished}
      dateUpdated={dateUpdated}
      ogType={ogType}
    />
    {gtmId && <script set:html={gtmScript} />}
    <slot name="head" />
  </head>
  <body>
    {
      gtmId && (
        <noscript>
          <iframe
            src={`https://www.googletagmanager.com/ns.html?id=${gtmId}`}
            height="0"
            width="0"
            style="display:none;visibility:hidden"
          />
        </noscript>
      )
    }
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
